.footer{
  margin-top: 27px;
  width: 100%;
  min-height: 220px;
  background: #EAE8E9 url("https://github.com/BlackStar1991/Pictures-for-sharing-/blob/master/Cartoons/footer_logo.jpg?raw=true") 50% 50% no-repeat;
  background-size: contain;
}
.aboutMe a {
  display: block;
  width: 30%;
  position: fixed;
  bottom: 0.1%;
  left: 20px;
  color: rgba(0, 0, 0, .3);
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
