/*********************************************/
/*COLORS*/
/*********************************************/

$color_blue: #5896cf;
$color_textMain: #282828;
$color_btn1: #5a94c9;
$color_btn2: #8db4d9;
$color_yellow: #cb8b00;
$color_red: #de0914;



/*********************************************/
/*FONTS*/
/*********************************************/

$Tahoma: "Tahoma", sans-serif;
$FontAwesom: "FontAwesome";

/*********************************************/
  /*SIZES*/
/*********************************************/
